// Colors
$white: #ffffff;
$black-two: #222222;
$grey-three: #333333;
$grey: #aaaaaa;
$grey-two: #777777;
$white-three: #eeeeee;
$black: #000000;
$secondary: #f31f79;
$white-two: #f7fafc;
$primary: #d70404;
$gradient: #fd712c;
$gradient-two: #f21780;
$active: #f95249;

//Fonts
$dosis: "Dosis", "Arial", "Helvetica", sans-serif;

// screen size
$screen-sm: 320px;
$screen-md: 768px;
$screen-lg: 1180px;
$screen-xl: 1800px;

$retina-dppx: 1.5dppx;
